/* == TYPOGRAPHY == */

@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla.ttf') format('truetype');
}

/* == LAYOUT == */

main {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-color: #E6EFF5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 635px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 15px 30px rgba(0, 81, 171, 0.1488);
}

.card-top {
  grid-column: 1 / -1;
  background-color: white;
  border-radius: 8px 8px 0px 0px;
}

.card-left {
  grid-column: 1 / 2;
  border-bottom-left-radius: 8px;
}

.card-right {
  grid-column: 2 / -1;
  border-bottom-right-radius: 8px;
}

/* == LAYOUT == */

.card-top {
  padding: 40px;
}

/* == TOP == */

h1 {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -0.3px;
  color: #2AB3B1;
  margin-bottom: 24px;
}

h2 {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.22px;
  color: #C0DF33;
  margin-bottom: 11px;
}

.description {
  font-family: 'Karla';
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #9AA7BE;
}

/* == BOTTOM == */

.card-left,
.card-right {
  background-color: #2AB3B1;
  padding: 40px;
}

h3 {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -0.22px;
  color: #fff;
  margin-bottom: 18px;
}

/* == LEFT == */

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -0.4px;
  color: #fff;
  margin-bottom: 4px;
}

.price span,
.price-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #fff;
}

.price span {
  opacity: 0.5;
}

.price-desc {
  margin-bottom: 26px;
}

.sign-up {
  width: 100%;
  height: 48px;
  background-color: #C0DF33;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.0973);
  font-family: 'Karla';
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.20px;
}

/* == RIGHT == */

.card-right {
  background-color: rgba(42, 179, 177, 0.8481);
}

.why-item {
  font-family: 'Karla';
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.17px;
  color: #fff;
  opacity: 0.75;
}

/* == RESPONSIVE == */

@media (max-width: 375px) {
  /* == LAYOUT == */

  .card {
    grid-template-columns: 1fr 1fr;
    width: 311px;
    margin: 72px 32px;
    border-radius: 8px 8px 0px 0px;
  }

  .card-top,
  .card-left,
  .card-right {
    grid-column: 1 / -1;
  }

  .card-left,
  .card-right {
    border-radius: 0px;
  }

  /* == TOP == */

  h1 {
    font-size: 20px;
    letter-spacing: -0.25px;
  }

  h2 {
    font-size: 15px;
    letter-spacing: -0.19px;
    margin-bottom: 16px;
  }

  .description {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.17px;
  }

  /* == BOTTOM == */

  .card-left,
  .card-right {
    padding: 24px;
  }
}